
body{
    margin: 0;

    
    background-color: rgb(220, 184, 138);

}
.translator{
    display: flex;
    flex-direction: row-reverse;




}
.top_info{
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}
h1{
    color: brown;
    font-family: 'Lobster', cursive;
}

h2{
    font-style: italic;
    font-size: medium;
    font-weight: lighter;



}
main{
    background-color:rgb(190, 166, 133);
    margin-bottom: 0;
    padding:8px;
   
   
    
}

#footer{
   
    background-color: rgb(220, 184, 138);
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: 'Lobster', cursive;
    color: brown;

}
.bio{
    font-family: 'Dancing Script', cursive;

}
.pro{
    font-family: 'Dancing Script', cursive;
}

.skills{
    display:flex;
    justify-content: space-evenly;
}
.current{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color: brown;
}
.future{
    text-decoration: underline;
    font-weight: bold;  
    font-family: 'Kalam', cursive;
    color: brown;
}
.hobbies{
    text-decoration: underline;
    font-weight: bold; 
    font-family: 'Kalam', cursive;
    color: brown;
}
.list_0{
    font-family: 'Kalam', cursive;

}
.list_1{
    font-family: 'Kalam', cursive;

}
.list_2{
    font-family: 'Kalam', cursive;

}
.img1{
    border-radius: 20px;
   
}
.img2{
    border-radius: 20px;
    
}
.img4{
    border-radius: 20px;
}
.icon{
    display: flex;
    flex-direction: row-reverse;
}
a:link{
    color:brown;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Kalam', cursive;

}
a:visited{
    color:darkred;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Kalam', cursive;
}