
body{
    margin: 0;
    padding:5px;
    background-color: black;

}
.top_info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


h2{
    font-style: italic;
    font-size: medium;
    font-weight: lighter;



}
main{
    background-color:rgb(209, 203, 203);
    margin-bottom: 0;
    padding:10px;
}

footer{
    background-color: grey;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;


}
.skills{
    display:flex;
    justify-content: space-evenly;
}
.current{
    text-decoration: underline;
    font-weight: bold;
}
.future{
    text-decoration: underline;
    font-weight: bold;  
}
.hobbies{
    text-decoration: underline;
    font-weight: bold;  
}
.resume{
    font-style: italic;
    font-weight:400;
}