
body{
    margin: 0;
    padding:5px;
    
    background-color: rgb(220, 184, 138);

}
.translator{
    display: flex;
    flex-direction: row-reverse;




}
.top_info{
    display:flex;
    align-items: center;
    justify-content: space-between;
    //flex-grow: ;
    //flex-shrink: ;
}


h2{
    font-style: italic;
    font-size: medium;
    font-weight: lighter;



}
main{
    background-color:rgb(190, 166, 133);
    margin-bottom: 0;
    padding:8px;
   
    
}

#footer{
    
    background-color: rgb(220, 184, 138);
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;


}
.skills{
    display:flex;
    justify-content: space-evenly;
}
.current{
    text-decoration: underline;
    font-weight: bold;
}
.future{
    text-decoration: underline;
    font-weight: bold;  
}
.hobbies{
    text-decoration: underline;
    font-weight: bold;  
}
.resume{
    font-style: italic;
    font-weight:400;
    text-decoration: underline;
}
.img1{
    border-radius: 20px;
   
}
.img2{
    border-radius: 20px;
}
.img4{
    border-radius: 20px;
}